.footer{
    height: 600px;
    background: whitesmoke;

}

.footer-top-info-section{
    display: flex;
}

.footer-container{
  background: white;
  width: 100%;
  height: auto;
}

.social-icon{
    height: 30px;
}