.footer{
    height: 600px;
    background: whitesmoke;
    padding: 50px;
}

.footer-top-info-section{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.footer-container{
  background: white;
  width: auto;
  height: 100%;
}

.social-icon{
    height: 30px;
}