@font-face{
    src: url(../Assets//Fonts//Modulus-www.Dfonts.org/Modulus-Bold.otf);
    font-family: Modulus-bold;
}

.home{
 
 
}

.landing-section-title{
    font-size: 120px;
    font-family: Modulus-bold;
    position: absolute;
    bottom: 0;
}

.landing-section{
    position: relative;
    padding-left: 70px;
    /* background-color: ; */
    height: 75vh;
}

