@font-face{
    src: url(../Assets//Fonts//Modulus-www.Dfonts.org/Modulus-Bold.otf);
    font-family: Modulus-bold;
}

.home{
 
 
}

.landing-section-title{
    font-size: 130px;
    font-family: Modulus-bold;
    font-weight: 900;
    letter-spacing: -px;
    position: absolute;
    bottom: 150px;
    background-clip: text;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.landing-section-sub-text{
    font-family: Modulus-bold;
    font-size: 35px;
    font-weight: 800;
    opacity: .5;
}

.landing-section{
    display: flex;
    flex-direction: column-reverse;
    padding-left: 70px;
    /* background-color: ; */
    height: 79vh;
}

.particle-cont{
    position: absolute;
    top: 0;
    height: 88vh;
    z-index: -10;
}

.featured-projects-cont{
    padding-top: 300px;
    padding-left: 65px;
    padding-right: 65px;
    padding-bottom: 60px;
    /* background-image: url(../Assets/Images/small-tiny-pattern-abstract-polka-dot-background-186451468.jpg);
    background-size: contain;
    background-repeat: repeat; */
    
}

.f-p-title, .f-p-sub-title{
    font-family: Modulus-bold;
}

.f-p-title{
    font-size: 70px;
}

.f-p-sub-title{
    font-size: 30px;
    opacity: .5;
}

.projects-cont{
    /* background-color: blanchedalmond; */
}

.top-display, .bottom-display{
    display: flex;
    padding: 20px 0;
}

.showcase-1{
    /* background-color: aqua; */
    height: 600px;
    flex: 3;
    padding: 10px 10px;
}

.showcase-1 > div{
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
}

.showcase-2 > div{
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.showcase-cont-large > div{
    visibility: ;
}

.showcase-cont-large > div:{
    visibility: hidden;
}

.showcase-2{
    /* background-color: black; */
    height: 400px;
    flex: 2;
    padding: 10px 10px;
   
}

.showcase-2-bottom > div {
    background-image: url(../Assets/Images/iphone-xr-mockup.jpg);
    background-size: contain;
}


.showcase-2-top > div {
    background-image: url(../Assets/Images/iphone-xr-mockup.jpg);
    background-size: contain;
}

.showcase-2-top{
    margin-top: auto;
    
}

.showcase-1-top > div{
    background-image: url(../Assets/Images/iphone-xr-mockup.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.showcase-1-top > div:hover{
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('../Assets/Images/iphone-xr-mockup.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.showcase-1-bottom > div{
    background-image: url(../Assets/Images/macbook-pro.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.showcase-1-bottom > div:hover{
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('../Assets/Images/macbook-pro.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.category-cont, .detail-link-cont{
    padding-left: 40px;
}

.category-txt{
    color: #4cffca;
    font-family: Modulus-bold;
}

.showcase-title{
    color: white;
    font-family: Modulus-bold;
}

.showcase-link{
    color: white;
    font-family: Modulus-bold;
    text-decoration: none;
    border-radius: 50px;
    border: 2px solid white;
    padding: 10px 10px;
}

.services-card-cont{
    /* background-color: green; */
    padding: 10px 70px;
    height: 600px;
}

.service-bar{
    /* background-color: greenyellow; */
    height: 100%;
    width: 100%;
    border-radius: 20px;
    display: flex;
    background-color: whitesmoke;
}

.img-cont{
    display: flex;
    justify-content: center;
}

.card-title{
    display: flex;
    justify-content: center;
}

.card-title > h2{
    font-family: Modulus-bold;
    font-weight: bolder;
}

.card-cont{
    padding: 10px 10px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: space-evenly;
    height: 100%;
    flex: 1;
    /* background-color: khaki; */
}

.card-desc{
    /* background-color: ivory; */
    text-align: center;
    padding: 5px 5px;
}

.card-desc > p{
    font-family: Modulus-bold;
    font-size: 20px;
}

.contact-banner{
    /* background-color: whitesmoke; */
    height: 200px;
    padding: 5px 70px;
}

.spacer-1{
    height: 200px;
}

.inner-container{
  background-color: whitesmoke;
  height: 100%;
  border-radius:20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
}